@font-face {
    font-family: 'YaleNew-Bold';
    src: url('/css/webfont/YaleNew-Bold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YaleNew-Roman';
    src: url('/css/webfont/YaleNew-Roman.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-family: 'YaleNew-Bold';
}

h1 {
font-family: 'YaleNew-Bold';
color: blue;
font-size: 35;
}

.about {
font-family: 'YaleNew-Roman';
color: black;
text-align: left;
}



/* Yale Blue */
nav .navbar-brand .blue
{
    color: #00356b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
