@font-face {
    font-family: 'YaleNew-Bold';
    src: url('/css/webfont/YaleNew-Bold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YaleNew-Roman';
    src: url('/css/webfont/YaleNew-Roman.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-family: 'YaleNew-Bold';
}

.title{
font-family: 'YaleNew-Bold';
color: #00356b;
font-size: 40px;

}
.about {
font-family: 'YaleNew-Roman';
color: black;
text-align: left;
}



/* Yale Blue */
nav .navbar-brand .blue
{
    color: #00356b;
}


main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents*/
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.menu
{
    font-family: 'Times New Roman';
}

.dishes
{
    padding: 5px;
}
h4
{
  text-decoration: underline;
}