{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <p class=about> A favorite lunchtime haunt for those in and near the Yale School of Management (SOM),
    Charley’s Place is located on the Northeast side of Edward P. Evans Hall, at 165 Whitney Avenue,
    across from the Peabody museum.
    </p>
    <p class=about>To reflect Yale SOM’s focus on worldwide business, Charley’s menu strives to reflect
    the diversity of global culture and cuisine. Large LCD menu boards highlight
    the cultural and ethnic origins of menu offerings and feature many signature items
    including several developed in collaboration with well-known chefs like Suvir Suran and Mai Pham.
    </p>

{% endblock %}
