{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

    <p> A favorite lunchtime haunt for those in and near the Yale School of Management (SOM), Charley’s Place is located on the Northeast side of Edward P. Evans Hall, at 165 Whitney Avenue, across from the Peabody museum.</p>

{% endblock %}
