{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <img src="/static/charleys.jpg" alt="Charley's Place"/>
    <p></p>
    <p> A favorite lunchtime haunt for those in and near the <a href="https://som.yale.edu" target="_blank">Yale School of Management</a> (SOM),
    Charley’s Place is located on the Northeast side of Edward P. Evans Hall, at 165 Whitney Avenue,
    across from the Peabody museum.</p>
    <p>Named for Charley Ellis, Yale alumnus and founder of Greenwich Partners,
    Charley’s offers a delicious menu of rustic, global food based on local and seasonal ingredients.
    Fresh pizzas are served from its brick-hearth oven and diners can also order gourmet salads and hand crafted artisan sandwiches.
    Many lunchtime offerings change daily. Much of its food production is done in “open-kitchen” platforms in view of customers.
    For a unique dining experience, customers can reserve a spot at the six-seat chef’s table in the center of the kitchen.</p>
    <p>To reflect Yale SOM’s focus on worldwide business, Charley’s menu strives to reflect the diversity of global culture and cuisine.
    Large LCD menu boards highlight the cultural and ethnic origins of menu offerings and feature many signature items including several
    developed in collaboration with well-known chefs like <a href="http://www.suvir.com/Home.html" target="_blank">Suvir Suran</a>
    and <a href="https://loveoffood.sodexo.com/chef/mia-pham/" target="_blank">Mai Pham</a>.</p>

{% endblock %}
