{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <h3>Top 5 Performing Dishes</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Dish</th>
          <th scope="col">Rating</th>
          <th scope="col"># of reviews</th>
        </tr>
      </thead>
      <tbody>
        {% for row in top %}
        <tr>
            <td>{{ row['name'] }}</td>
            <td>{{ row['avg_rating'] }}</td>
            <td>{{ row['count_reviews'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

        <h3>Bottom 5 Performing Dishes</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Dish</th>
          <th scope="col">Rating</th>
          <th scope="col"># of reviews</th>
        </tr>
      </thead>
      <tbody>
        {% for row in bottom %}
        <tr>
            <td>{{ row['name'] }}</td>
            <td>{{ row['avg_rating'] }}</td>
            <td>{{ row['count_reviews'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
