{% extends "layout.html" %}

{% block title %}
    Create Menu Form
{% endblock %}

{% block main %}
    <form action="/form" method="post">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">Dish Name</th>
              <th scope="col">Country of Origin</th>
              <th scope="col">Ingredients</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <select class="form-control" name ="category1">
                          <option selected>Al Forno</option>
                          <option>Wok</option>
                          <option>Salad & Sandwiches</option>
                          <option> </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="dish1" placeholder="Dish Name" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="country1" placeholder="Country" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="ingredient1" placeholder="Ingredients" type="text">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <select class="form-control" name ="category2">
                          <option>Al Forno</option>
                          <option selected>Wok</option>
                          <option>Salad & Sandwiches</option>
                          <option> </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="dish2" placeholder="Dish Name" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="country2" placeholder="Country" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="ingredient2" placeholder="Ingredients" type="text">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <select class="form-control" name ="category3">
                          <option>Al Forno</option>
                          <option>Wok</option>
                          <option selected>Salad & Sandwiches</option>
                          <option> </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="dish3" placeholder="Dish Name" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="country3" placeholder="Country" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="ingredient3" placeholder="Ingredients" type="text">
                    </div>
                </td>
            </tr>
          </tbody>
        </table>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="comment" placeholder="comment (dont leave blank)" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>

    </form>

  <!-- ------------------------------------------------------------------------------------------------------------------------------------ -->

<section class = "padding">
        <form id="MenuForm" method="post" class="form-horizontal">

        <div class="form-group">
            <div class ="row dishn">
                <div class="col-sm">
                    <select class="form-control" name ="category 1" placeholder = "Category"/>
                      <option>Al Forno</option>
                      <option >Wok</option>
                      <option>Salad & Sandwiches</option>
                      <option selected> </option>
                    </select>
                </div>

                <div class="col-sm">
                    <input type="text" class="form-control" placeholder = "Dish" name="dish 1" />
                </div>

                <div class="col-sm">
                    <input type="text" class="form-control" placeholder = "Country" name="country 1" />
                </div>

                <div class="col-sm">
                    <input type="text" class="form-control" placeholder = "Ingredients" name="ingredients 1" />
                </div>

                <div class="col-sm-1">
                    <button type="button" class="btn btn-default addDish"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>

        <!-- The option field template containing an option field and a Remove button -->
        <div class="form-group invisible" id="dishTemplate">
            <div class ="row dishn">


                <div class="col-sm">
                    <select class="form-control" name ="category" placeholder = "Category"/>
                      <option>Al Forno</option>
                      <option >Wok</option>
                      <option>Salad & Sandwiches</option>
                      <option selected> </option>
                    </select>
                </div>

                <div class="col-sm">
                    <input type="text" class="form-control" placeholder = "Dish" name="dish" />
                </div>

                <div class="col-sm">
                    <input type="text" class="form-control" placeholder = "Country" name="country" />
                </div>

                <div class="col-sm">
                    <input type="text" class="form-control" placeholder = "Ingredients" name="ingredients" />
                </div>

                <div class="col-sm-1">
                    <button type="button" class="btn btn-default removeDish"><i class="fa fa-minus"></i></button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="comment" placeholder="comment (dont leave blank)" type="text">
        </div>

        <div class="form-group">
            <div class="col-sm">
                <button type="submit" class="btn btn-primary">Create Menu</button>
            </div>
        </div>

    </form>

</section>


{% endblock %}