{% extends "layout.html" %}

{% block title %}
    Create Menu Form
{% endblock %}

{% block main %}

<section id = "header" class = "padding">
        <div class = "row">
            <div class="col-sm">
                <b>Category</b>
            </div>
            <div class="col-sm">
                <b>Dish Name</b>
            </div>
            <div class="col-sm">
                <b>Country of Origin</b>
            </div>
            <div class="col-sm">
                <b>Ingredients</b>
            </div>
            <div class="col-sm-1">
                <b></b>
            </div>
        </div>
</section>

<section class = "padding">
        <form id="MenuForm" method="post" class="form-horizontal">

            <div class="form-group row" name ="row1">
                <div class="col-sm">
                    <select class="form-control selectpicker" data-live-search = "true" name ="category" placeholder = "Category"/>
                      <option data-tokens ="Al Forno">Al Forno</option>
                      <option data-tokens ="Wok">Wok</option>
                      <option data-tokens ="Salad & Sandwiches">Salad & Sandwiches</option>
                      <option data-tokens =""></option>
                    </select>
                </div>

                <div class="col-sm">
                    <input type="text" class="form-control" placeholder = "Dish" name="dish" />
                </div>

                <div class="col-sm">
                     <select class="form-control selectpicker" data-live-search = "true" name ="country" placeholder = "country of origin"/>
                     {% for row in countrylist %}
                      <option data-tokens ={{ row['Country'] }}>{{ row['Country'] }}</option>
                     {% endfor %}
                      <option selected data-tokens =""></option>
                    </select>
                </div>

                <div class="col-sm">
                    <input type="text" class="form-control" placeholder = "Ingredients" name="ingredients" />
                </div>

                <div class="col-sm-1">
                    <button type="button" class="btn btn-default addDish"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <!-- The option field template containing an option field and a Remove button -->
            <div class="form-group row invisible" id="dishTemplate">
                <div class="col-sm">
                    <select class="form-control selectpicker" data-live-search = "true" name ="category" placeholder = "Category"/>
                      <option data-tokens ="Al Forno">Al Forno</option>
                      <option data-tokens ="Wok">Wok</option>
                      <option data-tokens ="Salad & Sandwiches">Salad & Sandwiches</option>
                      <option selected data-tokens =""></option>
                    </select>
                </div>

                <div class="col-sm">
                    <input type="text" class="form-control" placeholder = "Dish" name="dish" />
                </div>

                <div class="col-sm">
                    <select class="form-control selectpicker" data-live-search = "true" name ="country" placeholder = "country of origin"/>
                     {% for row in countrylist %}
                      <option data-tokens ={{ row['Country'] }}>{{ row['Country'] }}</option>
                     {% endfor %}
                      <option selected data-tokens =""></option>
                    </select>
                </div>

                <div class="col-sm">
                    <input type="text" class="form-control" placeholder = "Ingredients" name="ingredients" />
                </div>

                <div class="col-sm-1">
                    <button type="button" class="btn btn-default removeDish"><i class="fa fa-minus"></i></button>
                </div>
            </div>

            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="comment" placeholder="comment (dont leave blank)" type="text">
            </div>

            <div class="form-group">
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary">Create Menu</button>
                </div>
            </div>
        </form>
</section>


{% endblock %}