{% extends "layout.html" %}

{% block title %}
    Create Menu Form
{% endblock %}

{% block main %}
    <form action="/form" method="post">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">Dish Name</th>
              <th scope="col">Country of Origin</th>
              <th scope="col">Ingredients</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <select class="form-control" name ="category1">
                          <option selected>Al Forno</option>
                          <option>Wok</option>
                          <option>Salad & Sandwiches</option>
                          <option> </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="dish1" placeholder="Dish Name" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="country1" placeholder="Country" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="ingredient1" placeholder="Ingredients" type="text">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <select class="form-control" name ="category2">
                          <option>Al Forno</option>
                          <option selected>Wok</option>
                          <option>Salad & Sandwiches</option>
                          <option> </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="dish2" placeholder="Dish Name" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="country2" placeholder="Country" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="ingredient2" placeholder="Ingredients" type="text">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <select class="form-control" name ="category3">
                          <option>Al Forno</option>
                          <option>Wok</option>
                          <option selected>Salad & Sandwiches</option>
                          <option> </option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="dish3" placeholder="Dish Name" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="country3" placeholder="Country" type="text">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="ingredient3" placeholder="Ingredients" type="text">
                    </div>
                </td>
            </tr>
          </tbody>
        </table>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="comment" placeholder="comment (dont leave blank)" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>

    </form>
        <form id="surveyForm" method="post" class="form-horizontal">

        <div class="form-group">
            <div class ="row">

                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="option[]" />
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>

        <!-- The option field template containing an option field and a Remove button -->
        <div class="form-group invisible" id="optionTemplate">
            <div class ="row">
                <div class="col-sm-offset-3 col-sm-5">
                    <input class="form-control" type="text" name="option[]" />
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-3">
                <button type="submit" class="btn btn-default">Validate</button>
            </div>
        </div>
    </form>

{% endblock %}