{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}





{% block main %}
<img src="http://image.message.yale.edu/lib/fe4415707564057c751577/m/1/1decfc55-62e6-4e86-b618-15f5ddf4b516.png" width = 600 alt = "Charleys Place" title = "Charley's Place">
<section class ="menu">
<i>Monday - Friday 11:00 AM - 1:30 PM</i>

<h5>Menu for {{ today }}</h5>
<div class ="dishes">

    {% for row in menu %}

    <h4>{{ row['type'] }}</h4>

        <b>
            {{ row['name'] }}
        </b>
        <br>
        <i>
            {{ row['ingredients'] }}
        <br>
            {{ row['country_of_origin'] }}
        </i>
    {% endfor %}
</div>
</section>



{% endblock %}
