{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block main %}
<!--<img src="http://image.message.yale.edu/lib/fe4415707564057c751577/m/1/1decfc55-62e6-4e86-b618-15f5ddf4b516.png" width = 600 alt = "Charleys Place" title = "Charley's Place">-->
<h1 class="title">Today's Menu</h1>


<section class ="menu">
<i>Monday - Friday 11:00 AM - 1:30 PM</i>

<h5>{{ today }}</h5>
<div class ="dishes">

    {% for row in menu %}

    <h4>{{ row['type'] }}</h4>
    <div class="row">
        <div class="col-sm">
        <b>
            {{ row['name'] }}
        </b>
        <br>
        <i><style></style>
            {{ row['ingredients'] }}
        <br>
            {{ row['country_of_origin'] }}
        </i>

        </div>


    </div>
        <br>
        <i>
            {{ row['ingredients'] }}
        <br>
            {{ row['country_of_origin'] }}
        </i>
    {% endfor %}
</div>
</section>
<br>
<br>
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h4>Rate Todays Menu</h4>
                        <form id="myform" action="/home" method="post">
                            <input type="checkbox" class="form-check-input" value="Like" name="rating" id="checkbox-like" />
                            <label for="checkbox-like">Like</label>
                            &emsp;&emsp;&emsp;
                            <input type="checkbox" class="form-check-input" value="Dislike" name="rating" id="checkbox-dislike" />
                            <label for="checkbox-dislike">Dislike</label>
                            <br>
                            <button type="submit" class="btn btn-primary btn-lg">Submit Rating</button>
                        </form>
                </div>




{% endblock %}
