<!DOCTYPE html>

<html lang="en">

    <head>
        <!--jQuery links hosted by google-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

          <!--

  GGGGGGGGGGGG      GGGGGGGGGGG               fGGGGGG
    ;GGGGG.             GGGi                     GGGG
      CGGGG:           GGG                       GGGG
       lGGGGt         GGL                        GGGG
        .GGGGC       GG:                         GGGG
          GGGGG    .GG.        ;CGGGGGGL         GGGG          .LGGGGGGGL
           GGGGG  iGG        GGG:   ,GGGG        GGGG        tGGf     ;GGGC
            LGGGGfGG        GGGG     CGGG;       GGGG       GGGL       GGGGt
             lGGGGL                  CGGG;       GGGG      CGGGCCCCCCCCCCCCC
              GGGG                   GGGG,       GGGG      GGGG
              GGGG             tCGG; CGGG,       GGGG      GGGG
              GGGG          GGGG     CGGG.       GGGG      GGGGL
              GGGG         GGGGC     CGGG.       GGGG      :GGGGC          :
             ,GGGGG.       GGGGG:  .LGGGGG,.tG   GGGG        GGGGGGt,..,fGC
        ,GGGGGGGGGGGGGGf    iGGGGGG   CGGGGC  GGGGGGGGGG       LGGGGGGGC

  -->

        <!-- get bootstrap css and js-->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!--get font awesome for plus and minus signs in form-->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


        <!-- Latest compiled and minified CSS -->
        <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">-->

        <!-- Latest compiled and minified JavaScript -->

        <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>-->
        <!-- (Optional) Latest compiled and minified JavaScript translation files -->
        <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>-->

        <!--get bootstrap validator style and js -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>

        <!-- get static style and js sheets -->
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/addfields.js"></script>

        <title>Charley's Place: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark border">
            <img src="static/yale-som-crest.png" alt="logo"  height="30" class="d-inline-block align-top">
            <a class="navbar-brand" href="/home"><span color="white"><i> Charley's Place</i></span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/home">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/suggestions">Suggestions</a></li>
                        <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="/form">Create</a></li>


                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/home">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/suggestions">Suggestions</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/login">Admin</a></li>

                    </ul>


                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">

        </footer>


    </body>

</html>
